{% extends "base.html" %}

{% load static %}

{% block title %}
    Challenges
{% endblock %}

{% block css_files %} 
    <link rel="stylesheet" type="text/css" href="{% static 'challenges/styles.css' %}"> 
{% endblock %}

{% block content %}

    <!-- {% for month in months %}
        {% for redirect_path in redirect_paths %}
            <h1><a href="{{ redirect_path }}">{{ month }}</a></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quibusdam recusandae! Temporibus tenetur
                corporis autem officiis, assumenda reprehenderit iste enim. Nobis, magnam corrupti enim dolorum reprehenderit
                provident quis vel iste in saepe quas praesentium adipisci repellendus sequi aliquid incidunt delectus quasi
                optio reiciendis hic exercitationem? Deleniti deserunt ex necessitatibus maxime.</p>
        {% endfor %}
    {% endfor %} -->

    {% comment %} {% for month, redirect_path in zipped_data %} {% endcomment %}
    {% for month in months %}
        <ul>
            {% comment %} <li><h1><a href="{{ redirect_path }}">{{ month }}</a></h1></li> {% endcomment %}
            <li><a href="{% url "month-challenge" month %}">{{ month | title }}</a></li>
        </ul>
    {% endfor %}

{% endblock%}